{%extends "layout.html"%} 
{% block content %}
    <h1>Idea List</h1>
    <span> 나의 아이디어를 잊지 말고 기록해보세요!</span>
    <hr/>

    {% for idea in all_ideas %}
        <img src = "{{ idea.image.url }}" height="300">
        <a href="{% url "sites:idea_detail" idea.id %}"><h3>{{ idea.title }}</h3></a>
        <h4> 개발 tool : {{ idea.devtool }}</h4>
        <h4> 관심도 : <p id="interest-{{idea.id}}">{{ idea.interest }}</p></h4>
        <p>{{idea.id}}</p>
        <button id="up-{{idea.id}}"  class = "btn-up"  name={{idea.id}}> ▲ </button>
        <button id="down-{{idea.id}}" class = "btn-up" name={{idea.id}}> ▼ </button>
        <hr/>
    {% endfor %}
{% endblock %} 

{% block js %}
<script>
    let button = document.querySelector(".btn-up")
    
    // 와 이거 진짜 애먹었다...
    button.addEventListener('click', e =>{
        let num = e.target.getAttribute('name');
        let str = "#interest-"+num;
        $.ajax({
            type: "POST",
            url: "/idea", 
            contentType: "application/json",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                'num' : num,
                "str":str,
            }, 
            success: function(data){
                let change = document.querySelector(str);
                let current = parseInt(change.textContent, 10);
                change.textContent = current + 1;
                
            },
            error: function(){
                alert('실패 ㅅㄱ')
            }
        })
    });
</script>

{% endblock %}