{%extends "layout.html"%} 
{% block content %}
    <h1>Idea List</h1>
    <span> 나의 아이디어를 잊지 말고 기록해보세요!</span>
    <hr/>

    {% for idea in all_ideas %}
        <img src = "{{ idea.image.url }}" height="300">
        <a href="{% url "sites:idea_detail" idea.id %}"><h3>{{ idea.title }}</h3></a>
        <h4> 개발 tool : {{ idea.devtool }}</h4>
        <h4> 관심도 : <p id="interest-{{idea.id}}">{{ idea.interest }}</p></h4>
        
        <button id="up-{{idea.id}}" onclick=up({{ idea.id }}) name={{idea.id}}> ▲ </button>
        <button id="down-{{idea.id}}" name={{idea.id}}> ▼ </button>
        <hr/>
    {% endfor %}
{% endblock %} 

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function up(num){
        console.log("get in 1");
        let pk = num;

        $.ajax({
        type: "POST",
        url: "/idea",
        contentType: "application/json",
        data: {
            "pk": pk,
            "csrfmiddlewaretoken": "{{ csrf_token }}", 
        },
        success: function (response) {
            console.log("get in 2");
            let change = $('#interest-' + num).val() +1;
            console.log(change);
            $('#interest-'+pk).val(change);
            }
        })
        console.log();
    }
</script>
{% endblock %}