{%extends "layout.html"%} 
{% block content %}
    <h1>Idea List</h1>
    <span> 나의 아이디어를 잊지 말고 기록해보세요!</span>
    <hr/>

    {% for idea in all_ideas %}
        <img src = "{{ idea.image.url }}" height="300">
        <a href="{% url "sites:idea_detail" idea.id %}"><h3>{{ idea.title }}</h3></a>
        <h4> 개발 tool : {{ idea.devtool }}</h4>
        <h4> 관심도 : <p id="interest-{{idea.id}}">{{ idea.interest }}</p></h4>
        <button id="up-{{idea.id}}"  class = "btn-up" onclick="up( {{idea.id}} )" name={{idea.id}}> ▲ </button>
        <button id="down-{{idea.id}}" class = "btn-down" onclick="down( {{idea.id}} )" name={{idea.id}}> ▼ </button>
        <hr/>
    {% endfor %}
{% endblock %} 

{% block js %}
<script>
    // function으로 해야 모드 list에 버튼 누르기가 적용됨.. event listener는 불가
    function up(num){
        console.log("getin");
        console.log(num);
        //let num = this.target.getAttribute('name');
        let str = "#interest-"+num;
        
        $.ajax({
            type: "POST",
            url: "/idea", 
            contentType: "application/json",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                'num' : num,
                "str":str,
            }, 
            success: function(data){
                let change = document.querySelector(str);
                let current = parseInt(change.textContent, 10);
                change.textContent = current + 1;
                
            },
            error: function(){
                alert('실패 ㅅㄱ')
            }
        })
    }

    function down(num){
        console.log("getin");
        console.log(num);
        //let num = this.target.getAttribute('name');
        let str = "#interest-"+num;
        
        $.ajax({
            type: "POST",
            url: "/idea", 
            contentType: "application/json",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                'num' : num,
                "str":str,
            }, 
            success: function(data){
                let change = document.querySelector(str);
                let current = parseInt(change.textContent, 10);
                change.textContent = current - 1;
                
            },
            error: function(){
                alert('실패 ㅅㄱ')
            }
        })
    }

</script>

{% endblock %}